

{% extends 'home/base.html' %}

{% block title %}Accueil | CDEM Destination Manitoba{% endblock %}

{% block content %}
<section class="hero">
	<div>
		<p class="lead">Destination Manitoba 2026</p>
		<h1>Vérification des présences</h1>
		<p class="lead">Bievnvenue sur la plateforme de vérification de participation à Destination Manitoba 2026</p>
<!--		<div class="actions">-->
<!--			<a class="btn btn-primary" href="#">Suivre un colis <span aria-hidden="true">→</span></a>-->

<!--		</div>-->
	</div>
<!--	<div class="hero-art" aria-hidden="true">-->
<!--		<div class="route-card">-->
<!--			<div class="route-point"><i></i><span>Entrepôt Zawa</span></div>-->
<!--			<div class="route-line"></div>-->
<!--			<div class="route-point"><i></i><span>Destination finale</span></div>-->
<!--		</div>-->
<!--	</div>-->
</section>

<!--<div class="stat-grid">-->
<!--	<div class="card stat"><span class="stat-label">Suivi centralisé</span><strong class="stat-value">24/7</strong><span class="muted">Une visibilité continue</span></div>-->
<!--	<div class="card stat"><span class="stat-label">Étapes de livraison</span><strong class="stat-value">Claires</strong><span class="muted">Chaque événement compte</span></div>-->
<!--	<div class="card stat"><span class="stat-label">Expérience</span><strong class="stat-value">Simple</strong><span class="muted">Pensée pour aller droit au but</span></div>-->
<!--</div>-->
{% endblock %}

